In [409]:
import pandas as pd
import numpy as np
import re

In [410]:
df=pd.read_csv('data.csv')

/var/folders/9g/mm9pdxg52dn6rg0rtfk14syc0000gn/T/ipykernel_22943/625188700.py:1: DtypeWarning: Columns (114,118,125) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('data.csv')

In [411]:
df.columns

Index(['Unnamed: 0', 'Available as of', 'Available date', 'Construction year',
       'Building condition', 'Street frontage width', 'Number of frontages',
       'Covered parking spaces', 'Outdoor parking spaces', 'Surroundings type',
       ...
       'Value of the property', 'Monthly annuity', 'Age of annuitants',
       'Maximum duration of annuity', 'Venue of the sale', 'Single session',
       'Terms of visit', 'Starting price', '0', 'Date of the sale'],
      dtype='object', length=126)

In [412]:
filtered_columns=["Unnamed: 0","Neighbourhood or locality","Type of building",'Construction year',
                  "Price","Bedrooms","Living area","Kitchen type",
    "Furnished","How many fireplaces?","Terrace","Terrace surface",
    "Garden","Garden surface","Surface of the plot","Number of frontages",
    "Swimming pool",'Elevator', 'Basement', "Building condition", 
    'Cadastral income',"Primary energy consumption","CO₂ emission", 'Energy class', 'Heating type']
df = df[filtered_columns]

In [413]:
df=df.drop_duplicates()

In [414]:
df=df.rename(columns = {'Unnamed: 0':'Property ID'})

In [415]:
df.to_csv("data_26_column.csv", index=False)

In [416]:
df=pd.read_csv('data_26_column.csv')

In [417]:
df=df.rename(columns = {'Price':'Price (€)', 'Living area':'Living area (m²)', 'Terrace surface':'Terrace surface (m²)', 
                        'Garden surface':'Garden surface (m²)', 'Surface of the plot': 'Surface of the plot (m²)', 'Cadastral income':'Cadastral income (€)',
                        'Primary energy consumption':'Primary energy consumption (kWh/m²)', 'CO₂ emission':'CO₂ emission (kg CO₂/m²)',
                          })

In [418]:
df=df.drop_duplicates()

In [419]:
df['How many fireplaces?']=df['How many fireplaces?'].replace(np.nan,0,regex=True)
df['How many fireplaces?']=df['How many fireplaces?'].replace('Yes',1,regex=True)
df['How many fireplaces?']=df['How many fireplaces?'].replace('No',0,regex=True)
df['Swimming pool']=df['Swimming pool'].replace(np.nan,0,regex=True)
df['Swimming pool']=df['Swimming pool'].replace('Yes',1,regex=True)
df['Swimming pool']=df['Swimming pool'].replace('No',0,regex=True)
df['Elevator']=df['Elevator'].replace(np.nan,0,regex=True)
df['Elevator']=df['Elevator'].replace('Yes',1,regex=True)
df['Elevator']=df['Elevator'].replace('No',0,regex=True)
df['Basement']=df['Basement'].replace(np.nan,0,regex=True)
df['Basement']=df['Basement'].replace('Yes',1,regex=True)
df['Basement']=df['Basement'].replace('No',0,regex=True)
df['Furnished']=df['Furnished'].replace(np.nan,0,regex=True)
df['Furnished']=df['Furnished'].replace('Yes',1,regex=True)
df['Furnished']=df['Furnished'].replace('No',0,regex=True)

In [420]:
df=df.dropna(subset=['Price (€)'])

In [421]:
df['Price (€)'] = df['Price (€)'].str.split(' ').str[-2]
df['Price (€)'] = pd.to_numeric(df['Price (€)'])
df['Living area (m²)'] = df['Living area (m²)'].str.split(' ').str[0]
# df['Living area (m²)'] = pd.to_numeric(df['Living area (m²)'])
df['Garden surface (m²)'] = df['Garden surface (m²)'].str.split(' ').str[0]
# df['Garden surface (m²)'] = pd.to_numeric(df['Garden surface (m²)'])
df['Terrace surface (m²)'] = df['Terrace surface (m²)'].str.split(' ').str[0]
# df['Terrace surface (m²)'] = pd.to_numeric(df['Terrace surface (m²)'])
df['Surface of the plot (m²)'] = df['Surface of the plot (m²)'].str.split(' ').str[0]
# df['Surface of the plot (m²)'] = pd.to_numeric(df['Surface of the plot (m²)'])
df['Cadastral income (€)'] = df['Cadastral income (€)'].str.split(' ').str[-2]
# df['Cadastral income (€)'] = pd.to_numeric(df['Cadastral income (€)'])
df['Primary energy consumption (kWh/m²)'] = df['Primary energy consumption (kWh/m²)'].str.split(' ').str[0]
# df['Primary energy consumption (kWh/m²)'] = pd.to_numeric(df['Primary energy consumption (kWh/m²)'])
df['CO₂ emission (kg CO₂/m²)'] = df['CO₂ emission (kg CO₂/m²)'].str.split(' ').str[0]
# df['CO₂ emission (kg CO₂/m²)'] = pd.to_numeric(df['CO₂ emission (kg CO₂/m²)'])

In [422]:
filter_G = df["Garden surface (m²)"].isnull()
df.loc[~filter_G,'Garden'] = 'Yes'
df.loc[df['Garden'] == 'Yes', 'Garden'] = 1
df.loc[df["Garden"].isnull(), 'Garden'] = 0
df.loc[df["Garden surface (m²)"].isnull(), 'Garden surface (m²)'] = 0

In [423]:
filter_G = df["Terrace surface (m²)"].isnull()
df.loc[~filter_G,'Terrace'] = 'Yes'
df.loc[df['Terrace'] == 'Yes', 'Terrace'] = 1
df.loc[df["Terrace"].isnull(), 'Terrace'] = 0
df.loc[df["Terrace surface (m²)"].isnull(), 'Terrace surface (m²)'] = 0

In [424]:
df['Primary energy consumption (kWh/m²)']=df['Primary energy consumption (kWh/m²)'].replace('Not',np.nan)
df['CO₂ emission (kg CO₂/m²)']=df['CO₂ emission (kg CO₂/m²)'].replace('Not',np.nan)
df['Energy class']=df['Energy class'].replace('Not',np.nan)

In [425]:
df = df.astype({"Living area (m²)":"float", "Terrace":"float", "Garden":"float",
                "Terrace surface (m²)":"float",
                "Garden surface (m²)":"float","Surface of the plot (m²)":"float",
                "Primary energy consumption (kWh/m²)":"float", "Cadastral income (€)":"float",
                "CO₂ emission (kg CO₂/m²)":"float"})

In [426]:
df.dtypes

Property ID                              int64
Neighbourhood or locality               object
Type of building                        object
Construction year                      float64
Price (€)                                int64
Bedrooms                               float64
Living area (m²)                       float64
Kitchen type                            object
Furnished                                int64
How many fireplaces?                   float64
Terrace                                float64
Terrace surface (m²)                   float64
Garden                                 float64
Garden surface (m²)                    float64
Surface of the plot (m²)               float64
Number of frontages                    float64
Swimming pool                            int64
Elevator                                 int64
Basement                                 int64
Building condition                      object
Cadastral income (€)                   float64
Primary energy consumption (kWh/m²)    float64
CO₂ emission (kg CO₂/m²)               float64
Energy class                            object
Heating type                            object
dtype: object

In [427]:
df.isnull().sum()

Property ID                               0
Neighbourhood or locality              9263
Type of building                       9499
Construction year                      3766
Price (€)                                 0
Bedrooms                                457
Living area (m²)                        783
Kitchen type                           3380
Furnished                                 0
How many fireplaces?                      0
Terrace                                   0
Terrace surface (m²)                      0
Garden                                    0
Garden surface (m²)                       0
Surface of the plot (m²)               4305
Number of frontages                    2573
Swimming pool                             0
Elevator                                  0
Basement                                  0
Building condition                     2397
Cadastral income (€)                   4909
Primary energy consumption (kWh/m²)    1931
CO₂ emission (kg CO₂/m²)               8030
Energy class                              0
Heating type                           3006
dtype: int64