In [595]:
import pandas as pd
import numpy as np
import re

In [596]:
df=pd.read_csv('data.csv')

/var/folders/9g/mm9pdxg52dn6rg0rtfk14syc0000gn/T/ipykernel_22943/625188700.py:1: DtypeWarning: Columns (114,118,125) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('data.csv')

In [597]:
df.columns

Index(['Unnamed: 0', 'Available as of', 'Available date', 'Construction year',
       'Building condition', 'Street frontage width', 'Number of frontages',
       'Covered parking spaces', 'Outdoor parking spaces', 'Surroundings type',
       ...
       'Value of the property', 'Monthly annuity', 'Age of annuitants',
       'Maximum duration of annuity', 'Venue of the sale', 'Single session',
       'Terms of visit', 'Starting price', '0', 'Date of the sale'],
      dtype='object', length=126)

In [598]:
filtered_columns=["Unnamed: 0","Neighbourhood or locality","Type of building",'Construction year',
                  "Price","Bedrooms","Living area","Kitchen type",
    "Furnished","How many fireplaces?","Terrace","Terrace surface",
    "Garden","Garden surface","Surface of the plot","Number of frontages",
    "Swimming pool",'Elevator', 'Basement', "Building condition", 
    'Cadastral income',"Primary energy consumption","CO₂ emission", 'Energy class', 'Heating type']
df = df[filtered_columns]

In [599]:
df=df.drop_duplicates()

In [600]:
df=df.rename(columns = {'Unnamed: 0':'Property ID'})

In [601]:
df.to_csv("data_26_column.csv", index=False)

In [602]:
df=pd.read_csv('data_26_column.csv')

In [603]:
df=df.rename(columns = {'Price':'Price (€)', 'Living area':'Living area (m²)', 'Terrace surface':'Terrace surface (m²)', 
                        'Garden surface':'Garden surface (m²)', 'Surface of the plot': 'Surface of the plot (m²)', 'Cadastral income':'Cadastral income (€)',
                        'Primary energy consumption':'Primary energy consumption (kWh/m²)', 'CO₂ emission':'CO₂ emission (kg CO₂/m²)',
                          })

In [604]:
df=df.drop_duplicates()

In [605]:
df['How many fireplaces?']=df['How many fireplaces?'].replace(np.nan,0,regex=True)
df['How many fireplaces?']=df['How many fireplaces?'].replace('Yes',1,regex=True)
df['How many fireplaces?']=df['How many fireplaces?'].replace('No',0,regex=True)
df['Swimming pool']=df['Swimming pool'].replace(np.nan,0,regex=True)
df['Swimming pool']=df['Swimming pool'].replace('Yes',1,regex=True)
df['Swimming pool']=df['Swimming pool'].replace('No',0,regex=True)
df['Elevator']=df['Elevator'].replace(np.nan,0,regex=True)
df['Elevator']=df['Elevator'].replace('Yes',1,regex=True)
df['Elevator']=df['Elevator'].replace('No',0,regex=True)
df['Basement']=df['Basement'].replace(np.nan,0,regex=True)
df['Basement']=df['Basement'].replace('Yes',1,regex=True)
df['Basement']=df['Basement'].replace('No',0,regex=True)
df['Furnished']=df['Furnished'].replace(np.nan,0,regex=True)
df['Furnished']=df['Furnished'].replace('Yes',1,regex=True)
df['Furnished']=df['Furnished'].replace('No',0,regex=True)

In [606]:
df=df.dropna(subset=['Price (€)'])

In [607]:
df['Price (€)'] = df['Price (€)'].str.split(' ').str[-2]
df['Price (€)'] = pd.to_numeric(df['Price (€)'])
df['Living area (m²)'] = df['Living area (m²)'].str.split(' ').str[0]
df['Garden surface (m²)'] = df['Garden surface (m²)'].str.split(' ').str[0]
df['Terrace surface (m²)'] = df['Terrace surface (m²)'].str.split(' ').str[0]
df['Surface of the plot (m²)'] = df['Surface of the plot (m²)'].str.split(' ').str[0]
df['Cadastral income (€)'] = df['Cadastral income (€)'].str.split(' ').str[-2]
df['Primary energy consumption (kWh/m²)'] = df['Primary energy consumption (kWh/m²)'].str.split(' ').str[0]
df['CO₂ emission (kg CO₂/m²)'] = df['CO₂ emission (kg CO₂/m²)'].str.split(' ').str[0]

In [608]:
filter_G = df["Garden surface (m²)"].isnull()
df.loc[~filter_G,'Garden'] = 'Yes'
df.loc[df['Garden'] == 'Yes', 'Garden'] = 1
df.loc[df["Garden"].isnull(), 'Garden'] = 0
df.loc[df["Garden surface (m²)"].isnull(), 'Garden surface (m²)'] = 0

In [609]:
filter_G = df["Terrace surface (m²)"].isnull()
df.loc[~filter_G,'Terrace'] = 'Yes'
df.loc[df['Terrace'] == 'Yes', 'Terrace'] = 1
df.loc[df["Terrace"].isnull(), 'Terrace'] = 0
df.loc[df["Terrace surface (m²)"].isnull(), 'Terrace surface (m²)'] = 0

In [610]:
df['Primary energy consumption (kWh/m²)']=df['Primary energy consumption (kWh/m²)'].replace('Not',np.nan)
df['CO₂ emission (kg CO₂/m²)']=df['CO₂ emission (kg CO₂/m²)'].replace('Not',np.nan)
df['Energy class']=df['Energy class'].replace('Not',np.nan)

In [611]:
df = df.astype({"Living area (m²)":"float", "Terrace":"float", "Garden":"float",
                "Terrace surface (m²)":"float",
                "Garden surface (m²)":"float","Surface of the plot (m²)":"float",
                "Primary energy consumption (kWh/m²)":"float", "Cadastral income (€)":"float",
                "CO₂ emission (kg CO₂/m²)":"float"})

In [612]:
kitchen_type_scale={'USA hyper equipped':8, 'USA installed':7, 'USA semi equipped':6, 'USA uninstalled':5,
 'Hyper equipped':4, 'Installed':3, 'Semi equipped':2, 'Not installed':1, np.nan:0}

df['Kitchen type scale'] = df['Kitchen type'].map(kitchen_type_scale)

In [613]:
building_condition_scale={'As new':6,'Just renovated':5, 'Good':4, 'To renovate':3,
 'To restore':2, 'To be done up':1, np.nan:0}

df['Building condition scale'] = df['Building condition'].map(building_condition_scale)

In [614]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [591]:
df.head(30)

,Property ID,Neighbourhood or locality,Type of building,Construction year,Price (€),Bedrooms,Living area (m²),Kitchen type,Furnished,How many fireplaces?,...,Elevator,Basement,Building condition,Cadastral income (€),Primary energy consumption (kWh/m²),CO₂ emission (kg CO₂/m²),Energy class,Heating type,Kitchen type scale,Building condition scale
0,10579605,NaN,NaN,1928.0,530000,4.0,176.0,USA hyper equipped,0,0.0,...,0,1,Good,880.0,394.0,69.0,E,Gas,8,4
1,10578260,Quartier Européen,NaN,1972.0,340000,2.0,70.0,USA hyper equipped,1,0.0,...,1,1,Just renovated,1175.0,647.0,142.0,G,Gas,8,5
2,10576930,Bruxelles (19 communes),NaN,1952.0,730000,6.0,300.0,Hyper equipped,0,0.0,...,1,0,To be done up,2992.0,644.0,129.0,G,Gas,4,1
3,10572904,Liège environs,NaN,1850.0,235000,5.0,230.0,USA installed,0,0.0,...,0,1,Good,593.0,403.0,101.0,E,Fuel oil,7,4
4,10572508,Vlaamse Ardennen,NaN,1954.0,419000,5.0,202.0,Installed,0,0.0,...,0,0,Good,1303.0,289.0,8912.0,C,Gas,3,4
5,10572922,NaN,NaN,1910.0,750000,4.0,306.0,Hyper equipped,0,0.0,...,0,0,Good,1663.0,385.0,34.0,D,Fuel oil,4,4
6,10579280,Knokke Centrum,NaN,2002.0,675000,2.0,100.0,USA hyper equipped,0,0.0,...,1,1,To be done up,NaN,440.0,NaN,E,Gas,8,1
7,10571119,NaN,NaN,2009.0,189000,2.0,105.0,Semi equipped,0,0.0,...,1,1,Good,644.0,230.0,NaN,C,Pellet,2,4
8,10579926,NaN,NaN,NaN,169000,3.0,209.0,NaN,0,0.0,...,0,1,To be done up,587.0,358.0,NaN,E,Gas,0,1
9,10317756,NaN,NaN,NaN,60000,2.0,72.0,Installed,0,0.0,...,0,0,NaN,NaN,331.0,64.0,D,Gas,3,0
10,10317755,NaN,NaN,NaN,70000,2.0,86.0,Installed,0,0.0,...,0,1,NaN,572.0,510.0,128.0,F,Fuel oil,3,0
11,10579918,NaN,NaN,1947.0,223000,2.0,110.0,NaN,0,0.0,...,0,0,Good,702.0,256.0,1000.0,C,Gas,0,4
12,10579917,NaN,NaN,2009.0,275000,3.0,139.0,Hyper equipped,0,0.0,...,1,1,NaN,870.0,167.0,31.0,B,NaN,4,0
13,10579915,NaN,NaN,1965.0,370000,3.0,112.0,Installed,0,0.0,...,1,0,As new,872.0,113.0,NaN,B,Gas,3,6
14,10579907,NaN,NaN,2001.0,732000,4.0,468.0,NaN,0,0.0,...,0,0,As new,2025.0,253.0,63.0,C,Fuel oil,0,6
15,10579906,NaN,NaN,2003.0,795000,8.0,455.0,NaN,0,0.0,...,0,0,NaN,1897.0,145.0,35.0,B,Fuel oil,0,0
16,10579901,Liège,NaN,NaN,550000,4.0,189.0,Hyper equipped,0,0.0,...,0,0,Good,1554.0,302.0,75.0,D,Fuel oil,4,4
17,10579899,NaN,NaN,1957.0,309000,3.0,186.0,NaN,0,0.0,...,0,1,To renovate,927.0,409.0,NaN,E,Fuel oil,0,3
18,10579887,NaN,NaN,NaN,185000,2.0,124.0,Installed,0,0.0,...,0,1,Good,505.0,436.0,NaN,F,Gas,3,4
19,10579878,NaN,NaN,NaN,148000,2.0,95.0,Semi equipped,0,0.0,...,1,1,Good,NaN,250.0,63.0,C,Gas,2,4
20,10579877,NaN,NaN,NaN,115000,1.0,54.0,Not installed,0,0.0,...,1,1,To be done up,NaN,325.0,59.0,D,NaN,1,1
21,10579869,NaN,NaN,1900.0,200000,1.0,67.0,Installed,0,0.0,...,0,0,To renovate,532.0,NaN,NaN,Not specified,Gas,3,3
22,10579861,Ans,NaN,2022.0,299000,3.0,134.0,Not installed,0,0.0,...,0,0,NaN,NaN,NaN,NaN,Not specified,NaN,1,0
23,10579860,Ans,NaN,2022.0,169000,1.0,65.0,Not installed,0,0.0,...,0,0,NaN,NaN,NaN,NaN,Not specified,NaN,1,0
24,10579859,Ans,NaN,2022.0,239000,2.0,97.0,Not installed,0,0.0,...,0,0,NaN,NaN,NaN,NaN,Not specified,NaN,1,0
25,10579857,Ans,NaN,2022.0,249000,2.0,106.0,Not installed,0,0.0,...,0,0,NaN,NaN,NaN,NaN,Not specified,NaN,1,0
26,10579840,NaN,NaN,1971.0,299000,3.0,246.0,NaN,0,0.0,...,0,1,To be done up,1279.0,928.0,NaN,F,Gas,0,1
28,10579838,bruxelles,NaN,1924.0,295000,2.0,86.0,Installed,0,0.0,...,0,1,Good,NaN,215.0,43.0,E,Gas,3,4
29,10579836,Genappe,NaN,1920.0,235000,4.0,142.0,Installed,0,0.0,...,0,1,To be done up,460.0,276.0,51.0,D,Gas,3,1
30,10579834,NaN,NaN,NaN,398000,2.0,NaN,Hyper equipped,0,0.0,...,0,1,As new,NaN,162.0,NaN,B,Gas,4,6

In [592]:
df.dtypes

Property ID                              int64
Neighbourhood or locality               object
Type of building                        object
Construction year                      float64
Price (€)                                int64
Bedrooms                               float64
Living area (m²)                       float64
Kitchen type                            object
Furnished                                int64
How many fireplaces?                   float64
Terrace                                float64
Terrace surface (m²)                   float64
Garden                                 float64
Garden surface (m²)                    float64
Surface of the plot (m²)               float64
Number of frontages                    float64
Swimming pool                            int64
Elevator                                 int64
Basement                                 int64
Building condition                      object
Cadastral income (€)                   float64
Primary energy consumption (kWh/m²)    float64
CO₂ emission (kg CO₂/m²)               float64
Energy class                            object
Heating type                            object
Kitchen type scale                       int64
Building condition scale                 int64
dtype: object

In [593]:
df.isna().sum()

Property ID                               0
Neighbourhood or locality              9263
Type of building                       9499
Construction year                      3766
Price (€)                                 0
Bedrooms                                457
Living area (m²)                        783
Kitchen type                           3380
Furnished                                 0
How many fireplaces?                      0
Terrace                                   0
Terrace surface (m²)                      0
Garden                                    0
Garden surface (m²)                       0
Surface of the plot (m²)               4305
Number of frontages                    2573
Swimming pool                             0
Elevator                                  0
Basement                                  0
Building condition                     2397
Cadastral income (€)                   4909
Primary energy consumption (kWh/m²)    1931
CO₂ emission (kg CO₂/m²)               8030
Energy class                              0
Heating type                           3006
Kitchen type scale                        0
Building condition scale                  0
dtype: int64

In [594]:
df.shape

(10674, 27)