In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df=pd.read_csv('data.csv')

/home/mahmoud/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3505: DtypeWarning: Columns (114,118,125) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.columns

Index(['Unnamed: 0', 'Available as of', 'Available date', 'Construction year',
       'Building condition', 'Street frontage width', 'Number of frontages',
       'Covered parking spaces', 'Outdoor parking spaces', 'Surroundings type',
       ...
       'Value of the property', 'Monthly annuity', 'Age of annuitants',
       'Maximum duration of annuity', 'Venue of the sale', 'Single session',
       'Terms of visit', 'Starting price', '0', 'Date of the sale'],
      dtype='object', length=126)

In [4]:
filtered_columns=["Unnamed: 0","Neighbourhood or locality","Type of building",'Construction year',
                  "Price","Bedrooms","Living area","Kitchen type",
    "Furnished","How many fireplaces?","Terrace","Terrace surface",
    "Garden","Garden surface","Surface of the plot","Number of frontages",
    "Swimming pool",'Elevator', 'Basement', "Building condition", 
    'Cadastral income',"Primary energy consumption","CO₂ emission", 'Energy class', 'Heating type']
df = df[filtered_columns]

In [5]:
df=df.drop_duplicates()

In [6]:
df=df.rename(columns = {'Unnamed: 0':'Property ID'})

In [7]:
df.to_csv("data_26_column.csv", index=False)

In [8]:
df=pd.read_csv('data_26_column.csv')

In [9]:
df=df.rename(columns = {'Price':'Price (€)', 'Living area':'Living area (m²)', 'Terrace surface':'Terrace surface (m²)', 
                        'Garden surface':'Garden surface (m²)', 'Surface of the plot': 'Surface of the plot (m²)', 'Cadastral income':'Cadastral income (€)',
                        'Primary energy consumption':'Primary energy consumption (kWh/m²)', 'CO₂ emission':'CO₂ emission (kg CO₂/m²)',
                          })

In [10]:
df=df.drop_duplicates()

In [11]:
df['How many fireplaces?']=df['How many fireplaces?'].replace(np.nan,0,regex=True)
df['How many fireplaces?']=df['How many fireplaces?'].replace('Yes',1,regex=True)
df['How many fireplaces?']=df['How many fireplaces?'].replace('No',0,regex=True)
df['Swimming pool']=df['Swimming pool'].replace(np.nan,0,regex=True)
df['Swimming pool']=df['Swimming pool'].replace('Yes',1,regex=True)
df['Swimming pool']=df['Swimming pool'].replace('No',0,regex=True)
df['Elevator']=df['Elevator'].replace(np.nan,0,regex=True)
df['Elevator']=df['Elevator'].replace('Yes',1,regex=True)
df['Elevator']=df['Elevator'].replace('No',0,regex=True)
df['Basement']=df['Basement'].replace(np.nan,0,regex=True)
df['Basement']=df['Basement'].replace('Yes',1,regex=True)
df['Basement']=df['Basement'].replace('No',0,regex=True)
df['Furnished']=df['Furnished'].replace(np.nan,0,regex=True)
df['Furnished']=df['Furnished'].replace('Yes',1,regex=True)
df['Furnished']=df['Furnished'].replace('No',0,regex=True)

In [12]:
df=df.dropna(subset=['Price (€)'])

In [13]:
df['Price (€)'] = df['Price (€)'].str.split(' ').str[-2]
df['Price (€)'] = pd.to_numeric(df['Price (€)'])
df['Living area (m²)'] = df['Living area (m²)'].str.split(' ').str[0]
# df['Living area (m²)'] = pd.to_numeric(df['Living area (m²)'])
df['Garden surface (m²)'] = df['Garden surface (m²)'].str.split(' ').str[0]
# df['Garden surface (m²)'] = pd.to_numeric(df['Garden surface (m²)'])
df['Terrace surface (m²)'] = df['Terrace surface (m²)'].str.split(' ').str[0]
# df['Terrace surface (m²)'] = pd.to_numeric(df['Terrace surface (m²)'])
df['Surface of the plot (m²)'] = df['Surface of the plot (m²)'].str.split(' ').str[0]
# df['Surface of the plot (m²)'] = pd.to_numeric(df['Surface of the plot (m²)'])
df['Cadastral income (€)'] = df['Cadastral income (€)'].str.split(' ').str[-2]
# df['Cadastral income (€)'] = pd.to_numeric(df['Cadastral income (€)'])
df['Primary energy consumption (kWh/m²)'] = df['Primary energy consumption (kWh/m²)'].str.split(' ').str[0]
# df['Primary energy consumption (kWh/m²)'] = pd.to_numeric(df['Primary energy consumption (kWh/m²)'])
df['CO₂ emission (kg CO₂/m²)'] = df['CO₂ emission (kg CO₂/m²)'].str.split(' ').str[0]
# df['CO₂ emission (kg CO₂/m²)'] = pd.to_numeric(df['CO₂ emission (kg CO₂/m²)'])

In [14]:
filter_G = df["Garden surface (m²)"].isnull()
df.loc[~filter_G,'Garden'] = 'Yes'
df.loc[df['Garden'] == 'Yes', 'Garden'] = 1
df.loc[df["Garden"].isnull(), 'Garden'] = 0
df.loc[df["Garden surface (m²)"].isnull(),'Garden surface (m²)'] = 0

In [15]:
filter_G = df["Terrace surface (m²)"].isnull()
df.loc[~filter_G,'Terrace'] = 'Yes'
df.loc[df['Terrace'] == 'Yes', 'Terrace'] = 1
df.loc[df["Terrace"].isnull(), 'Terrace'] = 0
df.loc[df["Terrace surface (m²)"].isnull(),'Terrace surface (m²)'] = 0

In [16]:
df.isnull().sum()

Property ID                               0
Neighbourhood or locality              9263
Type of building                       9499
Construction year                      3766
Price (€)                                 0
Bedrooms                                457
Living area (m²)                        783
Kitchen type                           3380
Furnished                                 0
How many fireplaces?                      0
Terrace                                   0
Terrace surface (m²)                      0
Garden                                    0
Garden surface (m²)                       0
Surface of the plot (m²)               4305
Number of frontages                    2573
Swimming pool                             0
Elevator                                  0
Basement                                  0
Building condition                     2397
Cadastral income (€)                   4909
Primary energy consumption (kWh/m²)       0
CO₂ emission (kg CO₂/m²)                  0
Energy class                              0
Heating type                           3006
dtype: int64

In [17]:
df.head(50)

,Property ID,Neighbourhood or locality,Type of building,Construction year,Price (€),Bedrooms,Living area (m²),Kitchen type,Furnished,How many fireplaces?,...,Number of frontages,Swimming pool,Elevator,Basement,Building condition,Cadastral income (€),Primary energy consumption (kWh/m²),CO₂ emission (kg CO₂/m²),Energy class,Heating type
0,10579605,NaN,NaN,1928.0,530000,4.0,176,USA hyper equipped,0,0.0,...,4.0,0,0,1,Good,880,394,69,E,Gas
1,10578260,Quartier Européen,NaN,1972.0,340000,2.0,70,USA hyper equipped,1,0.0,...,2.0,0,1,1,Just renovated,1175,647,142,G,Gas
2,10576930,Bruxelles (19 communes),NaN,1952.0,730000,6.0,300,Hyper equipped,0,0.0,...,2.0,0,1,0,To be done up,2992,644,129,G,Gas
3,10572904,Liège environs,NaN,1850.0,235000,5.0,230,USA installed,0,0.0,...,3.0,0,0,1,Good,593,403,101,E,Fuel oil
4,10572508,Vlaamse Ardennen,NaN,1954.0,419000,5.0,202,Installed,0,0.0,...,4.0,0,0,0,Good,1303,289,8912,C,Gas
5,10572922,NaN,NaN,1910.0,750000,4.0,306,Hyper equipped,0,0.0,...,3.0,1,0,0,Good,1663,385,34,D,Fuel oil
6,10579280,Knokke Centrum,NaN,2002.0,675000,2.0,100,USA hyper equipped,0,0.0,...,2.0,0,1,1,To be done up,NaN,440,Not,E,Gas
7,10571119,NaN,NaN,2009.0,189000,2.0,105,Semi equipped,0,0.0,...,NaN,0,1,1,Good,644,230,Not,C,Pellet
8,10579926,NaN,NaN,NaN,169000,3.0,209,NaN,0,0.0,...,2.0,0,0,1,To be done up,587,358,Not,E,Gas
9,10317756,NaN,NaN,NaN,60000,2.0,72,Installed,0,0.0,...,4.0,0,0,0,NaN,NaN,331,64,D,Gas
10,10317755,NaN,NaN,NaN,70000,2.0,86,Installed,0,0.0,...,2.0,0,0,1,NaN,572,510,128,F,Fuel oil
11,10579918,NaN,NaN,1947.0,223000,2.0,110,NaN,0,0.0,...,2.0,0,0,0,Good,702,256,1000,C,Gas
12,10579917,NaN,NaN,2009.0,275000,3.0,139,Hyper equipped,0,0.0,...,NaN,0,1,1,NaN,870,167,31,B,NaN
13,10579915,NaN,NaN,1965.0,370000,3.0,112,Installed,0,0.0,...,NaN,0,1,0,As new,872,113,Not,B,Gas
14,10579907,NaN,NaN,2001.0,732000,4.0,468,NaN,0,0.0,...,4.0,1,0,0,As new,2025,253,63,C,Fuel oil
15,10579906,NaN,NaN,2003.0,795000,8.0,455,NaN,0,0.0,...,4.0,1,0,0,NaN,1897,145,35,B,Fuel oil
16,10579901,Liège,NaN,NaN,550000,4.0,189,Hyper equipped,0,0.0,...,4.0,0,0,0,Good,1554,302,75,D,Fuel oil
17,10579899,NaN,NaN,1957.0,309000,3.0,186,NaN,0,0.0,...,3.0,0,0,1,To renovate,927,409,Not,E,Fuel oil
18,10579887,NaN,NaN,NaN,185000,2.0,124,Installed,0,0.0,...,3.0,0,0,1,Good,505,436,Not,F,Gas
19,10579878,NaN,NaN,NaN,148000,2.0,95,Semi equipped,0,0.0,...,2.0,0,1,1,Good,NaN,250,63,C,Gas
20,10579877,NaN,NaN,NaN,115000,1.0,54,Not installed,0,0.0,...,2.0,0,1,1,To be done up,NaN,325,59,D,NaN
21,10579869,NaN,NaN,1900.0,200000,1.0,67,Installed,0,0.0,...,2.0,0,0,0,To renovate,532,Not,Not,Not specified,Gas
22,10579861,Ans,NaN,2022.0,299000,3.0,134,Not installed,0,0.0,...,2.0,0,0,0,NaN,NaN,Not,Not,Not specified,NaN
23,10579860,Ans,NaN,2022.0,169000,1.0,65,Not installed,0,0.0,...,2.0,0,0,0,NaN,NaN,Not,Not,Not specified,NaN
24,10579859,Ans,NaN,2022.0,239000,2.0,97,Not installed,0,0.0,...,2.0,0,0,0,NaN,NaN,Not,Not,Not specified,NaN
25,10579857,Ans,NaN,2022.0,249000,2.0,106,Not installed,0,0.0,...,2.0,0,0,0,NaN,NaN,Not,Not,Not specified,NaN
26,10579840,NaN,NaN,1971.0,299000,3.0,246,NaN,0,0.0,...,4.0,0,0,1,To be done up,1279,928,Not,F,Gas
28,10579838,bruxelles,NaN,1924.0,295000,2.0,86,Installed,0,0.0,...,2.0,0,0,1,Good,NaN,215,43,E,Gas
29,10579836,Genappe,NaN,1920.0,235000,4.0,142,Installed,0,0.0,...,2.0,0,0,1,To be done up,460,276,51,D,Gas
30,10579834,NaN,NaN,NaN,398000,2.0,NaN,Hyper equipped,0,0.0,...,2.0,0,0,1,As new,NaN,162,Not,B,Gas
31,10579833,NaN,NaN,1998.0,298000,3.0,126,NaN,0,0.0,...,4.0,0,0,0,Good,922,495,Not,E,Electric
32,10579832,NaN,Bungalow,1967.0,369000,3.0,187,NaN,0,0.0,...,4.0,0,0,0,To renovate,991,386,Not,D,Fuel oil
33,10579831,NaN,NaN,1945.0,199000,3.0,115,NaN,0,0.0,...,4.0,0,0,0,To be done up,NaN,508,Not,F,Gas
34,10579830,NaN,NaN,1984.0,419000,3.0,279,Semi equipped,0,0.0,...,4.0,0,0,1,Good,1320,421,Not,E,Gas
35,10579824,NaN,NaN,2002.0,275000,2.0,115,Hyper equipped,0,0.0,...,2.0,0,0,0,Good,NaN,120,Not,B,Gas
36,10579823,NaN,NaN,1989.0,179000,1.0,66,NaN,0,0.0,...,3.0,0,1,0,Good,743,208,Not,C,Fuel oil
37,10569863,Zuiden van Antwerpen,NaN,1877.0,850000,7.0,370,Installed,0,0.0,...,4.0,0,0,1,To renovate,1221,584,Not,F,Fuel oil
38,10578381,Omgeving Kraainem,NaN,1962.0,775000,3.0,200,Hyper equipped,0,0.0,...,4.0,0,0,1,Good,2692,418,Not,E,Gas
39,10579649,NaN,NaN,2008.0,675000,5.0,200,USA hyper equipped,0,0.0,...,3.0,0,0,0,As new,1365,133,577,B,NaN
40,10569004,NaN,NaN,2005.0,192000,NaN,41,Installed,1,0.0,...,4.0,0,1,1,Good,604,234,Not,C,Electric
41,10567685,NaN,NaN,1976.0,195000,1.0,51,Semi equipped,0,0.0,...,2.0,1,1,1,Good,867,79,20,B,Gas
42,10568686,NaN,NaN,1996.0,265000,2.0,106,Installed,0,0.0,...,4.0,0,1,0,Good,1461,118,Not,C,Gas
43,10568915,NaN,NaN,1946.0,325000,4.0,235,USA semi equipped,0,0.0,...,2.0,0,0,1,Good,1319,217,54,C,Fuel oil
44,10567484,Zone Sud Province du Luxembourg,NaN,1960.0,329000,5.0,140,Semi equipped,0,0.0,...,4.0,0,0,0,To renovate,1011,315,78,D,Fuel oil
45,10567500,NaN,NaN,2007.0,530000,2.0,156,USA hyper equipped,0,0.0,...,2.0,0,1,1,As new,2135,207,41,D,Gas
46,10567505,Bruxelles 9 Communes,NaN,2007.0,530000,2.0,156,USA hyper equipped,0,0.0,...,2.0,0,1,1,As new,2135,207,41,D,Gas
47,10577975,NaN,NaN,1978.0,459000,2.0,95,Installed,0,0.0,...,NaN,0,1,0,As new,NaN,131,Not,B,Gas
48,10579367,Bruxelles-Sud,NaN,1968.0,260000,1.0,55,Semi equipped,0,0.0,...,2.0,0,1,1,Good,852,720,145,G,NaN
49,10568405,Gent en omstreken,NaN,2022.0,370000,2.0,82,Hyper equipped,0,0.0,...,2.0,0,1,1,As new,1,1,Not,A,NaN
50,10568403,Gent en omstreken,NaN,2022.0,395000,2.0,85,Hyper equipped,0,0.0,...,2.0,0,1,1,As new,1,1,Not,A,NaN

In [20]:
df['Kitchen type'].value_counts()

Installed             3305
Hyper equipped        1658
Semi equipped          818
USA hyper equipped     769
Not installed          369
USA installed          279
USA semi equipped       82
USA uninstalled         14
Name: Kitchen type, dtype: int64

In [23]:
df['Kitchen type'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
10787     True
10788     True
10789     True
10790    False
10791     True
Name: Kitchen type, Length: 10674, dtype: bool

In [24]:
from matplotlib import pyplot as plt