In [43]:
import pandas as pd
import numpy as np

In [44]:
df=pd.read_csv('data.csv')

/var/folders/9g/mm9pdxg52dn6rg0rtfk14syc0000gn/T/ipykernel_22943/625188700.py:1: DtypeWarning: Columns (114,118,125) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('data.csv')

In [45]:
df.columns

Index(['Unnamed: 0', 'Available as of', 'Available date', 'Construction year',
       'Building condition', 'Street frontage width', 'Number of frontages',
       'Covered parking spaces', 'Outdoor parking spaces', 'Surroundings type',
       ...
       'Value of the property', 'Monthly annuity', 'Age of annuitants',
       'Maximum duration of annuity', 'Venue of the sale', 'Single session',
       'Terms of visit', 'Starting price', '0', 'Date of the sale'],
      dtype='object', length=126)

In [46]:
df.head(20)

,Unnamed: 0,Available as of,Available date,Construction year,Building condition,Street frontage width,Number of frontages,Covered parking spaces,Outdoor parking spaces,Surroundings type,...,Value of the property,Monthly annuity,Age of annuitants,Maximum duration of annuity,Venue of the sale,Single session,Terms of visit,Starting price,0,Date of the sale
0,10579605,After signing the deed,October 1 2023 - 12:00 AM,1928.0,Good,9.3 m,4.0,1.0,2.0,Urban,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10578260,After signing the deed,NaN,1972.0,Just renovated,8 m,2.0,NaN,NaN,"Living area (residential, urban or rural)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10576930,Depending on the tenant,NaN,1952.0,To be done up,7 m,2.0,NaN,NaN,Urban,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10572904,After signing the deed,September 30 2023 - 12:00 AM,1850.0,Good,7 m,3.0,NaN,NaN,Isolated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10572508,After signing the deed,September 30 2023 - 12:00 AM,1954.0,Good,15.5 m,4.0,1.0,4.0,Isolated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10572922,To be defined,NaN,1910.0,Good,15 m,3.0,1.0,2.0,Countryside,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10579280,After signing the deed,April 12 2022 - 12:00 AM,2002.0,To be done up,NaN,2.0,NaN,NaN,Urban,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10571119,NaN,NaN,2009.0,Good,7 m,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10579926,After signing the deed,NaN,NaN,To be done up,NaN,2.0,NaN,NaN,Urban,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10317756,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10317755,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10579918,NaN,NaN,1947.0,Good,8 m,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10579917,NaN,NaN,2009.0,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10579915,NaN,NaN,1965.0,As new,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,10579907,NaN,NaN,2001.0,As new,NaN,4.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10579906,NaN,NaN,2003.0,NaN,NaN,4.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10579901,To be defined,June 30 2024 - 12:00 AM,NaN,Good,13 m,4.0,2.0,4.0,Isolated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,10579899,After signing the deed,NaN,1957.0,To renovate,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,10579887,After signing the deed,NaN,NaN,Good,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,10579878,After signing the deed,NaN,NaN,Good,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.shape

(11441, 126)

In [61]:
filtered_columns=['Unnamed: 0', 'Construction year','Neighbourhood or locality', 'Type of building', 'Building condition', 'Number of frontages', 'Living area','Kitchen type','Bedrooms','Bathrooms', 'Shower rooms', 'Toilets', 'Basement', 'Furnished', 'Terrace surface', 'Elevator', 'Accessible for disabled people', 'Swimming pool', 'Primary energy consumption', 'Energy class', 'Heating type', 'Price', 'Monthly charges', 'Cadastral income', 'Surface of the plot', 'Garden', 'Garden surface','Terrace', 'Terrace surface']
df = df[filtered_columns]

In [62]:
df.shape

(10792, 31)

In [63]:
df=df.fillna('None')

In [64]:
df=df.drop_duplicates()

In [66]:
df=df.rename(columns = {'Unnamed: 0':'Property ID'})

In [68]:
df.to_csv("data_31_column.csv", index=False)