In [71]:
import pandas as pd
import numpy as np

In [72]:
df=pd.read_csv('data.csv')

/var/folders/9g/mm9pdxg52dn6rg0rtfk14syc0000gn/T/ipykernel_22943/625188700.py:1: DtypeWarning: Columns (114,118,125) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('data.csv')

In [73]:
df.columns

Index(['Unnamed: 0', 'Available as of', 'Available date', 'Construction year',
       'Building condition', 'Street frontage width', 'Number of frontages',
       'Covered parking spaces', 'Outdoor parking spaces', 'Surroundings type',
       ...
       'Value of the property', 'Monthly annuity', 'Age of annuitants',
       'Maximum duration of annuity', 'Venue of the sale', 'Single session',
       'Terms of visit', 'Starting price', '0', 'Date of the sale'],
      dtype='object', length=126)

In [74]:
df.head(8)

,Unnamed: 0,Available as of,Available date,Construction year,Building condition,Street frontage width,Number of frontages,Covered parking spaces,Outdoor parking spaces,Surroundings type,...,Value of the property,Monthly annuity,Age of annuitants,Maximum duration of annuity,Venue of the sale,Single session,Terms of visit,Starting price,0,Date of the sale
0,10579605,After signing the deed,October 1 2023 - 12:00 AM,1928.0,Good,9.3 m,4.0,1.0,2.0,Urban,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10578260,After signing the deed,NaN,1972.0,Just renovated,8 m,2.0,NaN,NaN,"Living area (residential, urban or rural)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10576930,Depending on the tenant,NaN,1952.0,To be done up,7 m,2.0,NaN,NaN,Urban,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10572904,After signing the deed,September 30 2023 - 12:00 AM,1850.0,Good,7 m,3.0,NaN,NaN,Isolated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10572508,After signing the deed,September 30 2023 - 12:00 AM,1954.0,Good,15.5 m,4.0,1.0,4.0,Isolated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10572922,To be defined,NaN,1910.0,Good,15 m,3.0,1.0,2.0,Countryside,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10579280,After signing the deed,April 12 2022 - 12:00 AM,2002.0,To be done up,NaN,2.0,NaN,NaN,Urban,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10571119,NaN,NaN,2009.0,Good,7 m,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
df.shape

(11441, 126)

In [76]:
filtered_columns=["Unnamed: 0","Neighbourhood or locality","Type of building",'Construction year',
                  "Price","Bedrooms","Living area","Kitchen type",
    "Furnished","How many fireplaces?","Terrace","Terrace surface",
    "Garden","Garden surface","Surface of the plot","Number of frontages",
    "Swimming pool",'Elevator', 'Basement', "Building condition",'Monthly charges', 
    'Cadastral income',"Primary energy consumption","COâ‚‚ emission", 'Energy class', 'Heating type']
df = df[filtered_columns]

In [77]:
df.shape

(11441, 26)

In [78]:
df=df.fillna('None')

In [79]:
df=df.drop_duplicates()

In [80]:
df=df.rename(columns = {'Unnamed: 0':'Property ID'})

In [81]:
df.to_csv("data_26_column.csv", index=False)

In [82]:
df=pd.read_csv('data_26_column.csv')

In [83]:
df.head(10)

,Property ID,Neighbourhood or locality,Type of building,Construction year,Price,Bedrooms,Living area,Kitchen type,Furnished,How many fireplaces?,...,Swimming pool,Elevator,Basement,Building condition,Monthly charges,Cadastral income,Primary energy consumption,COâ‚‚ emission,Energy class,Heating type
0,10579605,NaN,NaN,1928.0,"â‚¬ 530,000 530000 â‚¬",4.0,176 mÂ² square meters,USA hyper equipped,NaN,NaN,...,No,No,Yes,Good,NaN,â‚¬ 880 880 â‚¬,394 kWh/mÂ² kilowatt hour per square meters,69 kg COâ‚‚/mÂ²,E,Gas
1,10578260,Quartier EuropÃ©en,NaN,1972.0,"â‚¬ 340,000 340000 â‚¬",2.0,70 mÂ² square meters,USA hyper equipped,Yes,NaN,...,No,Yes,Yes,Just renovated,â‚¬ 197 197 â‚¬,"â‚¬ 1,175 1175 â‚¬",647 kWh/mÂ² kilowatt hour per square meters,142 kg COâ‚‚/mÂ²,G,Gas
2,10576930,Bruxelles (19 communes),NaN,1952.0,"â‚¬ 730,000 730000 â‚¬",6.0,300 mÂ² square meters,Hyper equipped,NaN,NaN,...,No,Yes,NaN,To be done up,NaN,"â‚¬ 2,992 2992 â‚¬",644 kWh/mÂ² kilowatt hour per square meters,129 kg COâ‚‚/mÂ²,G,Gas
3,10572904,LiÃ¨ge environs,NaN,1850.0,"Make an offer starting from â‚¬ 235,000 Make a...",5.0,230 mÂ² square meters,USA installed,No,NaN,...,No,No,Yes,Good,NaN,â‚¬ 593 593 â‚¬,403 kWh/mÂ² kilowatt hour per square meters,101 kg COâ‚‚/mÂ²,E,Fuel oil
4,10572508,Vlaamse Ardennen,NaN,1954.0,"â‚¬ 419,000 419000 â‚¬",5.0,202 mÂ² square meters,Installed,No,NaN,...,No,No,NaN,Good,NaN,"â‚¬ 1,303 1303 â‚¬",289 kWh/mÂ² kilowatt hour per square meters,8912 kg COâ‚‚/mÂ²,C,Gas
5,10572922,NaN,NaN,1910.0,"â‚¬ 750,000 750000 â‚¬",4.0,306 mÂ² square meters,Hyper equipped,NaN,NaN,...,Yes,No,NaN,Good,NaN,"â‚¬ 1,663 1663 â‚¬",385 kWh/mÂ² kilowatt hour per square meters,34 kg COâ‚‚/mÂ²,D,Fuel oil
6,10579280,Knokke Centrum,NaN,2002.0,"â‚¬ 675,000 675000 â‚¬",2.0,100 mÂ² square meters,USA hyper equipped,No,NaN,...,No,Yes,Yes,To be done up,NaN,NaN,440 kWh/mÂ² kilowatt hour per square meters,Not specified,E,Gas
7,10571119,NaN,NaN,2009.0,"â‚¬ 189,000 189000 â‚¬",2.0,105 mÂ² square meters,Semi equipped,NaN,NaN,...,NaN,Yes,Yes,Good,NaN,â‚¬ 644 644 â‚¬,230 kWh/mÂ² kilowatt hour per square meters,Not specified,C,Pellet
8,10579926,NaN,NaN,NaN,"â‚¬ 169,000 169000 â‚¬",3.0,209 mÂ² square meters,NaN,NaN,NaN,...,NaN,NaN,Yes,To be done up,NaN,â‚¬ 587 587 â‚¬,358 kWh/mÂ² kilowatt hour per square meters,Not specified,E,Gas
9,10317756,NaN,NaN,NaN,"â‚¬ 60,000 60000 â‚¬",2.0,72 mÂ² square meters,Installed,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,331 kWh/mÂ² kilowatt hour per square meters,64 kg COâ‚‚/mÂ²,D,Gas